<div class="dialog-container">

  <!-- HEADER -->
  <div class="dialog-header">
    <h3>{{ form.value.productId ? 'Edit' : 'Add' }} Product</h3>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- BODY -->
  <div class="dialog-body">
    <form [formGroup]="form">

      <!-- <mat-form-field appearance="outline" class="full">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="productName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>GST %</mat-label>
        <input matInput type="number" formControlName="gstPercent" />
      </mat-form-field> -->

       <!-- <mat-form-field appearance="outline" class="half">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="productName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half" style="margin-left: 5%;">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half">
        <mat-label>GST %</mat-label>
        <input matInput type="number" formControlName="gstPercent" />
      </mat-form-field> -->



      <mat-form-field appearance="outline" class="half">
  <mat-label>Product Name</mat-label>
  <input matInput formControlName="productName" />

  <mat-error *ngIf="form.get('productName')?.hasError('required')">
    Product name is required
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline" class="half" style="margin-left: 5%;">
  <mat-label>Price</mat-label>
  <input matInput type="number" formControlName="price" />

  <mat-error *ngIf="form.get('price')?.hasError('required')">
    Price is required
  </mat-error>
  <mat-error *ngIf="form.get('price')?.hasError('min')">
    Price must be greater than 0
  </mat-error>
</mat-form-field>

<mat-form-field appearance="outline" class="half">
  <mat-label>GST %</mat-label>
  <input matInput type="number" formControlName="gstPercent" />

  <mat-error *ngIf="form.get('gstPercent')?.hasError('required')">
    GST is required
  </mat-error>
  <mat-error *ngIf="form.get('gstPercent')?.hasError('min')">
    GST cannot be negative
  </mat-error>
  <mat-error *ngIf="form.get('gstPercent')?.hasError('max')">
    GST cannot exceed 100%
  </mat-error>
</mat-form-field>


    </form>
  </div>

  <!-- FOOTER -->
  <div class="dialog-footer">
  <button mat-stroked-button mat-dialog-close [disabled]="loading">
    Cancel
  </button>

  <button mat-raised-button color="primary"
          (click)="save()"
          [disabled]="!form.valid">

    <mat-progress-spinner
      *ngIf="loading"
      diameter="20"
      mode="indeterminate"
      class="btn-spinner">
    </mat-progress-spinner>

    <span *ngIf="!loading">{{ form.value.productId ? 'Update' : 'Save' }}</span>
  </button>
</div>


</div>
